<h2>Small Icon Sizes</h2>
<div class="custom-icon-container">
    <custom-icon [iconName]="'settings'" [size]="'primarySmall'"></custom-icon>
    <custom-icon [iconName]="'settings'" [size]="'secondarySmall'"></custom-icon>
</div>

<h2>Medium Icon Sizes</h2>
<div class="custom-icon-container">
    <custom-icon [iconName]="'settings'" ></custom-icon>
    <custom-icon [iconName]="'settings'" [size]="'secondaryMedium'"></custom-icon>
</div>

<h2>Large Icon Sizes</h2>
<div class="custom-icon-container">
    <custom-icon [iconName]="'settings'" [size]="'primaryLarge'"></custom-icon>
    <custom-icon [iconName]="'settings'" [size]="'secondaryLarge'"></custom-icon>
</div>