<div class="firstAlertContainer">
    <custom-alert  [closable]="true" [alertMsg]="'This is the default alert'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'success'" [closable]="true" [alertMsg]="'This is a success alert'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'warning'" [closable]="true" [alertMsg]="'This is a warning alert'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'danger'" [closable]="true" [alertMsg]="'This is a danger alert'"></custom-alert>
</div>
<div class="firstAlertContainer">
    <custom-alert  [alertMsg]="'This is the default alert with no closing option'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'success'" [alertMsg]="'This is a success alert with no closing option'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'warning'" [alertMsg]="'This is a warning alert with no closing option'"></custom-alert>
</div>

<div class="firstAlertContainer">
    <custom-alert  [alertType]="'danger'"  [alertMsg]="'This is a danger alert with no closing option'"></custom-alert>
</div>