  <h2>Basic Checkbox</h2>
  <div class="custom-Checkbox-container">
  <realsoft-checkbox></realsoft-checkbox>   
  </div>
  <h2>Basic Checkbox With Text</h2>
  <div class="custom-Checkbox-container">
  <realsoft-checkbox [option]="'Check Me'"></realsoft-checkbox>   
  
  <h2>Disabled Checkbox</h2>
  <div class="custom-Checkbox-container">
  <realsoft-checkbox [option]="'Check Me'" [disabled]="true"></realsoft-checkbox>   
  </div>
  <h2>Previously Checked Checkbox</h2>
  <div class="custom-Checkbox-container">
  <realsoft-checkbox [option]="'Check Me'" [checked]="true"></realsoft-checkbox>   
  </div>
  <h2>Checkbox Disabled then enabled</h2>
  <div class="custom-Checkbox-container">
  <realsoft-checkbox [option]="'Check Me'" [disabled]="disabled" ></realsoft-checkbox>   
  </div>

  
