<h2>Default Button Sizes without the disabled feature</h2>
<div class="custom-button-container">
    <!-- <custom-button [buttonTxt]="'Click'"></custom-button>
    <custom-button [type]="'primary'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'secondary'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'text'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'link'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'"></custom-button> -->
    <!-- <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'"></custom-button> -->
    <!-- <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'"></custom-button> -->
    <!-- <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'"></custom-button> -->
    <!-- <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'"></custom-button> -->
    <!-- <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'"></custom-button> -->
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'"></custom-button>
</div>

<h2>Default Button Sizes with the disabled feature</h2>
<div class="custom-button-container">
    <!-- <custom-button [buttonTxt]="'Click'" [disabled]="true"></custom-button> -->
    <custom-button [type]="'primary'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <!-- <custom-button [type]="'secondary'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'text'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'link'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'" [disabled]="true"></custom-button> -->
</div>

<h2>Medium Button Sizes without the disabled feature</h2>
<div class="custom-button-container">
    <!-- <custom-button [buttonTxt]="'Click'" [size]="'medium'"></custom-button> -->
    <custom-button [type]="'primary'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <!-- <custom-button [type]="'secondary'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'text'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'link'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'" [size]="'medium'"></custom-button>
    <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'" [size]="'medium'"></custom-button>
    <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'" [size]="'medium'"></custom-button>
    <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'" [size]="'medium'"></custom-button>
    <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'" [size]="'medium'"></custom-button>
    <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'" [size]="'medium'"></custom-button>
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'" [size]="'medium'"></custom-button> -->
</div>

<h2>Medium Button Sizes with the disabled feature</h2>
<div class="custom-button-container">
    <custom-button [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primary'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondary'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'text'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'link'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'" [size]="'medium'" [disabled]="true"></custom-button>
</div>

<h2>Large Button Sizes without the disabled feature</h2>
<div class="custom-button-container">
    <!-- <custom-button [buttonTxt]="'Click'" [size]="'large'"></custom-button> -->
    <custom-button [type]="'primary'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <!-- <custom-button [type]="'secondary'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'text'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'link'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'" [size]="'large'"></custom-button>
    <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'" [size]="'large'"></custom-button>
    <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'" [size]="'large'"></custom-button>
    <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'" [size]="'large'"></custom-button>
    <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'" [size]="'large'"></custom-button>
    <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'" [size]="'large'"></custom-button>
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'" [size]="'large'"></custom-button> -->
</div>

<h2>Large Button Sizes with the disabled feature</h2>
<div class="custom-button-container">
    <custom-button [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primary'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondary'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'text'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'link'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryIcon'" [iconName]="'settings'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutline'" [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutline'"  [buttonTxt]="'Click'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedIconButton'"  [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedIconButton'" [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedTextIconButton'"  [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedTextIconButton'" [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'primaryRoundedOutlinedIconButton'"  [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
    <custom-button [type]="'secondaryRoundedOutlinedIconButton'" [iconName]="'settings'" [size]="'large'" [disabled]="true"></custom-button>
</div>
