<!-- <app-custom-chips-testing></app-custom-chips-testing> -->
<!-- <app-custom-icon-testing></app-custom-icon-testing> -->
<!-- <app-custom-input-testing></app-custom-input-testing> -->
<!-- <app-custom-button-testing></app-custom-button-testing> -->
<!-- <app-custom-alert-testing></app-custom-alert-testing> -->
<!-- <app-custom-text-area-testing></app-custom-text-area-testing> -->
<!-- <app-custom-spinner-testing></app-custom-spinner-testing> -->
<!-- <app-progress-bar-testing></app-progress-bar-testing> -->
<!-- <app-custom-slider></app-custom-slider> -->
<!-- <app-custom-checkbox-testing></app-custom-checkbox-testing> -->
<!-- <app-custom-radion-btn-testing></app-custom-radion-btn-testing> -->
<app-custom-menu-testing></app-custom-menu-testing>
<!-- <app-custom-dialog-testing></app-custom-dialog-testing> -->
<!-- <app-custom-tabs-testing></app-custom-tabs-testing> -->
<!-- <app-custom-panel-testing></app-custom-panel-testing> -->
