<h2>Default Chips Sizes</h2>
<div class="custom-chips-container">
   <custom-chip  [label]="'Chip'" ></custom-chip>
   <custom-chip  [type]="'primary'" [label]="'Chip'" ></custom-chip>
   <custom-chip  [type]="'secondary'" [label]="'Chip'" ></custom-chip>
</div>

<h2>Medium Chips Sizes</h2>
<div class="custom-chips-container">
   <custom-chip  [label]="'Chip'" [size]="'medium'"></custom-chip>
   <custom-chip  [type]="'primary'" [label]="'Chip'" [size]="'medium'" ></custom-chip>
   <custom-chip  [type]="'secondary'" [label]="'Chip'"  [size]="'medium'"></custom-chip>
</div>

<h2>Large Chips Sizes</h2>
<div class="custom-chips-container">
   <custom-chip  [label]="'Chip'" [size]="'large'"></custom-chip>
   <custom-chip  [type]="'primary'" [label]="'Chip'" [size]="'large'" ></custom-chip>
   <custom-chip  [type]="'secondary'" [label]="'Chip'"  [size]="'large'"></custom-chip>
</div>

<h2>Default Chips with icons</h2>
<div class="custom-chips-container">
   <custom-chip  [type]="'basicIcon'" [label]="'Chip'" [iconName]="'settings'"></custom-chip>
   <custom-chip  [type]="'primaryIcon'" [iconName]="'settings'" [label]="'Chip'" ></custom-chip>
   <custom-chip  [type]="'secondaryIcon'" [iconName]="'settings'" [label]="'Chip'" ></custom-chip>
</div>

<h2>Medium Chips with icons</h2>
<div class="custom-chips-container">
   <custom-chip  [type]="'basicIcon'" [label]="'Chip'" [iconName]="'settings'" [size]="'medium'"></custom-chip>
   <custom-chip  [type]="'primaryIcon'" [iconName]="'settings'" [label]="'Chip'" [size]="'medium'" ></custom-chip>
   <custom-chip  [type]="'secondaryIcon'" [iconName]="'settings'" [label]="'Chip'" [size]="'medium'"></custom-chip>
</div>

<h2>Large Chips with icons</h2>
<div class="custom-chips-container">
   <custom-chip  [type]="'basicIcon'" [label]="'Chip'" [iconName]="'settings'" [size]="'large'"></custom-chip>
   <custom-chip  [type]="'primaryIcon'" [iconName]="'settings'" [label]="'Chip'" [size]="'large'" ></custom-chip>
   <custom-chip  [type]="'secondaryIcon'" [iconName]="'settings'" [label]="'Chip'" [size]="'large'"></custom-chip>
</div>