h2 {
    margin: 1rem;
    font-family: 'Cera Pro Bold';
    text-align: center;
    color: rgb(130, 122, 122);
}
.custom-spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 4vh;
}
custom-spinner{
    margin-right: 7em;
    margin-left: 7em;
}