<h2>Low Progress Custom Spinner</h2>
<div class="custom-spinner-container">
    <custom-spinner [value]="1"></custom-spinner>
    <custom-spinner [value]="10"></custom-spinner>
    <custom-spinner [value]="20"></custom-spinner>
    <custom-spinner [value]="30"></custom-spinner>
</div>
<h2>Normal Progress Custom Spinner</h2>
<div class="custom-spinner-container">
    <custom-spinner [value]="32"></custom-spinner>
    <custom-spinner [value]="45"></custom-spinner>
    <custom-spinner [value]="50"></custom-spinner>
    <custom-spinner [value]="70"></custom-spinner>
</div>
<h2>High Progress Custom Spinner</h2>
<div class="custom-spinner-container">
    <custom-spinner [value]="72"></custom-spinner>
    <custom-spinner [value]="86"></custom-spinner>
    <custom-spinner [value]="90"></custom-spinner>
    <custom-spinner [value]="99"></custom-spinner>
</div>
<h2>Full Progress Custom Spinner</h2>
<div class="custom-spinner-container">
    <custom-spinner [value]="100"></custom-spinner>
</div>
